<ul  class="mt-4 text-dark">
 <li><a class="text-dark" href="{{path('dashboard')}} "><i class="fa fa-home" aria-hidden="true"></i> Tableau de bord</a></li>
    <li><a class="text-dark" href=""><i class="fa fa-wrench" aria-hidden="true"></i> Intervenetion à venir</a> </li>
    <li><a class="text-dark" href="{{path('fiche_maintenance_index')}} "><i class="fa fa-history" aria-hidden="true"></i> Historique des interventions</a></li>
    <li><a class="text-dark" href="{{path('clients_index')}} "><i class="fa fa-users" aria-hidden="true"></i> Liste des clients</a></li>
</ul>

<div  class="mt-4 mr-4">
<a class="mr-4" href=" {{path('attestation_cqs_index')}}"><i class="fa fa-file " aria-hidden="true"></i></a>
<a class="mr-4" href=" {{path('techniciens_index')}}"><i class="fa fa-industry " aria-hidden="true"></i></a>
<a class="mr-4" href=" {{path('parametre')}}"><i class="fa fa-cog ml-1" aria-hidden="true"></i></a>
<a class="mr-4" href=" {{path('messagerie_admin')}}"><i class="fa fa-envelope ml-1" aria-hidden="true"></i></a>
<a  class="mr-4 " href=" {{path('profil_technicien')}}"><i class="fa fa-user" aria-hidden="true"></i></a>
</div>

