<img id="logo" class="ml-4" src="{{asset('assets/Img/logoBkl.png')}}" alt="" srcset="">
 <hr>
{% if app.user.roles[0] == "ROLE_ADMIN" %}
<section id="zone_recherche">
<form class="form-inline  mt-4 ml-4">
  <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
   <button class="btn" type="submit"><i class="fas fa-search text-light" aria-hidden="true"></i></button>
</form>
<div id="zone_recherche_resultat" class="mt-4">

</div>

</section>

{% else %}

<div id="donnee_client_aside" class="">

	<img class='mt-2 ml-2 mr-3' src="https://via.placeholder.com/100" alt="" srcset="">
	<div>
		<a style="text-decoration:none" href="{{path('profil_clients')}}"><h4 class="text-light mt-2"> Peugeot</h4></a>
		<p class="text-warning ml-3"><i class="fa fa-street-view" aria-hidden="true"></i> Pau</p>
	<a style="text-decoration:none" href="{{path('profil_clients')}}">	<h4 class="text-primary">Entreprise</h4></a>
   
	</div>
</div>
<hr>
<nav id="menu_clients">
<ul>
    <li class="mt-3"><a class="text-light mt-3" href="{{path('dashboard')}}"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.66667 21.6667H16.6667C17.5833 21.6667 18.3333 20.9167 18.3333 20V6.66667C18.3333 5.75 17.5833 5 16.6667 5H6.66667C5.75 5 5 5.75 5 6.66667V20C5 20.9167 5.75 21.6667 6.66667 21.6667ZM6.66667 35H16.6667C17.5833 35 18.3333 34.25 18.3333 33.3333V26.6667C18.3333 25.75 17.5833 25 16.6667 25H6.66667C5.75 25 5 25.75 5 26.6667V33.3333C5 34.25 5.75 35 6.66667 35ZM23.3333 35H33.3333C34.25 35 35 34.25 35 33.3333V20C35 19.0833 34.25 18.3333 33.3333 18.3333H23.3333C22.4167 18.3333 21.6667 19.0833 21.6667 20V33.3333C21.6667 34.25 22.4167 35 23.3333 35ZM21.6667 6.66667V13.3333C21.6667 14.25 22.4167 15 23.3333 15H33.3333C34.25 15 35 14.25 35 13.3333V6.66667C35 5.75 34.25 5 33.3333 5H23.3333C22.4167 5 21.6667 5.75 21.6667 6.66667Z" fill="#EFF3F6"/>
</svg>
 Tableau de bord</a></li>
    <li class="mt-3"><a class="text-light " href="{{path('attestation_clients')}}"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M33.8633 6.63672L20.5898 2.11328C20.4297 2.05859 20.2148 2.03125 20 2.03125C19.7852 2.03125 19.5703 2.05859 19.4102 2.11328L6.13672 6.63672C5.8125 6.74609 5.54688 7.12109 5.54688 7.46484V26.3086C5.54688 26.6523 5.76953 27.1055 6.03906 27.3203L19.5039 37.8125C19.6406 37.918 19.8164 37.9727 19.9961 37.9727C20.1758 37.9727 20.3555 37.918 20.4883 37.8125L33.9531 27.3203C34.2227 27.1094 34.4453 26.6562 34.4453 26.3086V7.46484C34.4531 7.12109 34.1875 6.75 33.8633 6.63672ZM31.6406 25.5586L20 34.6289L8.35938 25.5586V8.85547L20 4.88672L31.6406 8.85547V25.5586ZM15.7891 17.707C15.6719 17.5469 15.4844 17.4492 15.2813 17.4492H13.125C12.8711 17.4492 12.7227 17.7383 12.8711 17.9453L17.8086 24.7422C17.867 24.8221 17.9434 24.8871 18.0316 24.9319C18.1199 24.9767 18.2174 25.0001 18.3164 25.0001C18.4154 25.0001 18.5129 24.9767 18.6012 24.9319C18.6894 24.8871 18.7658 24.8221 18.8242 24.7422L27.1289 13.3086C27.2773 13.1016 27.1289 12.8125 26.875 12.8125H24.7188C24.5195 12.8125 24.3281 12.9102 24.2109 13.0703L18.3164 21.1875L15.7891 17.707Z" fill="#EFF3F6"/>
</svg>
 Certificats</a></li>
    <li class="mt-3"><a class="text-light " href="{{path('messagerie_client')}}"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.42659 34.1317C9.18729 34.3398 8.89359 34.4753 8.57998 34.5223C8.26636 34.5693 7.94585 34.5259 7.65607 34.3971C7.36628 34.2683 7.11926 34.0595 6.94399 33.7952C6.76872 33.5309 6.67249 33.2221 6.66659 32.9051V29.1667C5.78253 29.1667 4.93468 28.8156 4.30956 28.1904C3.68444 27.5653 3.33325 26.7175 3.33325 25.8334V14.1667C3.33325 13.2827 3.68444 12.4348 4.30956 11.8097C4.93468 11.1846 5.78253 10.8334 6.66659 10.8334H24.9999C25.884 10.8334 26.7318 11.1846 27.3569 11.8097C27.9821 12.4348 28.3333 13.2827 28.3333 14.1667V25.8334C28.3333 26.7175 27.9821 27.5653 27.3569 28.1904C26.7318 28.8156 25.884 29.1667 24.9999 29.1667H16.6716L9.42659 34.1317ZM10.8333 28.9767C10.9851 28.9759 11.1343 28.9363 11.2666 28.8617L15.1916 26.1317C15.4709 25.9375 15.803 25.8334 16.1433 25.8334H23.3333C23.7753 25.8334 24.1992 25.6578 24.5118 25.3453C24.8243 25.0327 24.9999 24.6088 24.9999 24.1667V15.8334C24.9999 15.3914 24.8243 14.9675 24.5118 14.6549C24.1992 14.3423 23.7753 14.1667 23.3333 14.1667H8.33325C7.89122 14.1667 7.4673 14.3423 7.15474 14.6549C6.84218 14.9675 6.66659 15.3914 6.66659 15.8334V24.1667C6.66659 25.0667 7.38159 25.8034 8.33325 25.8334C9.01659 25.8601 9.51159 25.9717 9.73992 26.2101C9.95325 26.4334 9.96492 26.8101 9.99992 27.5267C10.0049 27.6317 10.0049 27.8217 9.99992 28.1434C9.99992 28.3644 10.0877 28.5764 10.244 28.7327C10.4003 28.889 10.6122 28.9767 10.8333 28.9767ZM29.9999 20.8601C29.9946 21.0656 29.9946 21.2712 29.9999 21.4767V20.8601C30.0333 20.1434 30.0466 19.7667 30.2599 19.5434C30.4883 19.3051 30.9833 19.1934 31.6666 19.1667C32.6183 19.1367 33.3333 18.4001 33.3333 17.5001V9.16675C33.3333 8.72472 33.1577 8.3008 32.8451 7.98824C32.5325 7.67568 32.1086 7.50008 31.6666 7.50008H16.6666C16.2246 7.50008 15.8006 7.67568 15.4881 7.98824C15.1755 8.3008 14.9999 8.72472 14.9999 9.16675H11.6666V7.50008C11.6666 6.61603 12.0178 5.76818 12.6429 5.14306C13.268 4.51794 14.1159 4.16675 14.9999 4.16675H33.3333C34.2173 4.16675 35.0652 4.51794 35.6903 5.14306C36.3154 5.76818 36.6666 6.61603 36.6666 7.50008V19.1667C36.6666 20.0508 36.3154 20.8986 35.6903 21.5238C35.0652 22.1489 34.2173 22.5001 33.3333 22.5001V26.2384C33.3274 26.5555 33.2311 26.8643 33.0559 27.1286C32.8806 27.3928 32.6336 27.6016 32.3438 27.7304C32.054 27.8592 31.7335 27.9027 31.4199 27.8557C31.1062 27.8087 30.8126 27.6732 30.5733 27.4651L29.9999 27.0717V20.8617V20.8601Z" fill="#EFF3F6"/>
</svg>
 Messagerie</a></li>
</ul>
</nav>  
{% endif %}


<hr>
<a id="deconnexion" class='fixed-bottom mb-4' href="{{path('app_logout')}}"><svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.6668 16.0416L11.6668 18.9583L24.7918 18.9583V23.3333L32.0835 17.5L24.7918 11.6666L24.7918 16.0416L11.6668 16.0416Z" fill="#C4C4C4"/>
<path d="M5.83333 30.625L18.9583 30.625C20.5669 30.625 21.875 29.3169 21.875 27.7083L21.875 21.875H18.9583L18.9583 27.7083L5.83333 27.7083L5.83333 7.29167L18.9583 7.29167L18.9583 13.125H21.875L21.875 7.29167C21.875 5.68312 20.5669 4.375 18.9583 4.375L5.83333 4.375C4.22479 4.375 2.91666 5.68312 2.91666 7.29167L2.91666 27.7083C2.91666 29.3169 4.22479 30.625 5.83333 30.625Z" fill="#C4C4C4"/>
</svg>
</a>