{% extends 'base.html.twig' %}

{% block title %}Poste index{% endblock %}

{% block body %}
{% if utilisateur != null  %}
    <aside class=''>
		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>
			<a class="btn btn-secondary float-right mt-3 mr-4 mb-4" href="{{ path('poste_new') }}">
				<i class="fa fa-plus"></i>
				Ajouter un poste</a>
			<h3 class="mt-4 ml-4 d-flex justify-content-center">Liste de tout les Postes
			</h3>
		<section id="liste_des_Contacts" class=" container-fluid">


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IntitulerPoste</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poste in postes %}
            <tr>
                <td>{{ poste.id }}</td>
                <td>{{ poste.IntitulerPoste }}</td>
                <td>
                    {# <a href="{{ path('poste_show', {'id': poste.id}) }}">show</a> #}
                    <a href="{{ path('poste_edit', {'id': poste.id}) }}"><i class="fa fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    </section>
	</main>
{% else %}
    {% endif %}
{% endblock %}
