{% extends 'base.html.twig' %}

{% block title %}Contrats index{% endblock %}

{% block body %}
    <aside class='ml-2 mr-2 mt-2 mb-1'>
		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>
		<section id="liste_des_Contacts" class=" container-fluid">
			<a class="btn btn-secondary float-right mt-3 mr-4 mb-4" href="{{ path('contrats_new') }}">
				<i class="fa fa-plus"></i>
				Ajouter un contrat</a>
			<h3 class="mt-4 ml-4 d-flex justify-content-center">Liste de tout les Contrats
			</h3>

			<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Type de Contrat</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td scope="row">{{ contrat.id }}</td>
                <td scope="row">{{ contrat.TypeContrat }}</td>
                <td scope="row" >
                    <a href="{{ path('contrats_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrats_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
	</main>
{% endblock %}
