{% extends 'base.html.twig' %}

{% block title %}New Contrats
{% endblock %}

{% block body %}
	<aside class=''>

		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>

			<a class="btn btn-secondary ml-2" href="{{ path('contrats_index') }}">
				<i class="fa fa-chevron-left"></i>
				Retour</a>
			<h2 class="mt-4 ml-4 d-flex justify-content-center text-light">Ajouter un contrat</h2>
		<section id="ajouter_technicien" style="background-color:white" class=" container-fluid">
		<br>
			<article class="mt-4 container-fluid">
				{{ form_start(form) }}
				<div class="form-group">
                {{form_label(form.TypeContrat, 'Type de contrat ')}}
                {{form_widget(form.TypeContrat, {'attr':{'class':'form-control'}})}}
                </div>
				<button class="btn btn-success">{{ button_label|default('Enregistrer') }} <i class="fa fa-save"></i></button>
				{{ form_end(form) }}
			</article>
		</section>
	</main>
{% endblock %}
