{% extends 'base.html.twig' %}

{% block title %}AttestationCqs index{% endblock %}

{% block body %}
{% if utilisateur != null %}
    <aside class=''>

		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav
			id="menu_admin" class="mt-4"> {% include "Templates_parts/_nav.html.twig" %}
		</nav>
        <hr>
        <a class="btn btn-secondary float-right mt-3 mr-4 mb-4" href="{{path('attestation_cqs_new')}}"><i class="fa fa-plus"></i> Creer une nouvelle attestation</a>
		<h3 class="mt-4 ml-4 d-flex justify-content-center text-light">Liste des Attestations </h3>
        <section id="liste_des_attestations" style="background-color:white"  class=" container-fluid">
<br>
    <table id="liste_attest_tab" class="table table-striped">
        <thead>
            <tr>
<th scope="row" class="col-1">Id</th>
                                <th scope="col" class="col-2">En date du</th>
                                <th scope="col" class="col-2">Note Moyenne</th>
                                <th scope="col" class="col-3">Client</th>
								<th scope="col" class="col-2">Ateliers</th>
								<th scope="col" class="col-2">Action</th>


                
            </tr>
        </thead>
        <tbody>
        {% for attestation_cq in attestation_cqs %}
            <tr>
                <td class="col-1">{{ attestation_cq.id }}</td>
                <td class="col-2">{{ attestation_cq.Date ? attestation_cq.Date|date('Y-m-d') : '' }}</td>
                <td class="col-2">{{( attestation_cq.NoteEquip + attestation_cq.NoteMaint + attestation_cq.NoteForm + attestation_cq.NoteProcess) / 4 }} %</td>
               
                <td class="col-3">{{ attestation_cq.Atelier.client.NomClient }}</td>
                <td class="col-2">{{ attestation_cq.Atelier }}</td>
                
                <td class="col-2">
                    <a href="{{ path('attestation_cqs_show', {'id': attestation_cq.id}) }}"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     </section>
   
    </main>
    {% else %}
    bonjour
    {% endif %}
{% endblock %}
