{% extends 'base.html.twig' %}

{% block title %}New Ateliers
{% endblock %}

{% block body %}
	<aside class='ml-2 mr-2 mt-2 mb-1'>

		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>
		<section id="liste_des_ateliers" class=" container-fluid">

			<a class="btn btn-secondary" href="{{ path('ateliers_index') }}">
            <i class="fa fa-chevron-left"></i>
				Retour</a>
			<h2 class="mt-4 ml-4 d-flex justify-content-center">Ajouter une carrosserie</h2>
			<article class="mt-4 container-fluid">
			{{ form_start(form) }}
    <div class="form-group">
    {{form_label(form.NomAtelier, "Atelier")}}
    {{form_widget(form.NomAtelier, {'attr':{'class':'form-control'}})}}
    </div>
    <div class="form-group">
    {{form_label(form.NumAtelier, "Téléphone")}}
    {{form_widget(form.NumAtelier, {'attr':{'class':'form-control'}})}}
    </div>
    <div class="form-group">
    {{form_label(form.AdresseLieu, "Adresse")}}
    {{form_widget(form.AdresseLieu, {'attr':{'class':'form-control'}})}}
    </div>
    <div class="form-row">
    <div class="form-group col">
    {{form_label(form.client, "Client")}}
    {{form_widget(form.client, {'attr':{'class':'form-control'}})}}
    </div>
    <div class="form-group col">
    {{form_label(form.contrat, "Contrat")}}
    {{form_widget(form.contrat, {'attr':{'class':'form-control'}})}}
    </div>
    </div>
    {{form_row(form.Certification)}}
    <button class="btn btn-success mt-3">{{ button_label|default('Enregistrer') }} <i class="fa fa-save"></i></button>
{{ form_end(form) }}


			</article>
		</section>
	</main>

{% endblock %}
