{% extends 'base.html.twig' %}

{% block title %}Marque index
{% endblock %}

{% block body %}
	<aside class='ml-2 mr-2 mt-2 mb-1'>
		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>
		<section id="liste_des_marque" class=" container-fluid">
			<a class="btn btn-secondary float-right mt-3 mr-4 mb-4" href="{{ path('marque_new') }}">
				<i class="fa fa-plus"></i>
				Ajouter une marque</a>
			<h3 class="mt-4 ml-4 d-flex justify-content-center">Liste des marques
			</h3>

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Id</th>
						<th scope="col">Nom de la Marque</th>
						<th scope="col">actions</th>
					</tr>
				</thead>
				<tbody>
					{% for marque in marques %}
						<tr>
							<td scope="row">{{ marque.id }}</td>
							<td scope="row">{{ marque.NomMarque }}</td>
							<td scope="row">
								<a href="{{ path('marque_show', {'id': marque.id}) }}">show</a>
								<a href="{{ path('marque_edit', {'id': marque.id}) }}">edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
	</main>
{% endblock %}
