{% extends 'base.html.twig' %}

{% block title %}Marque{% endblock %}

{% block body %}
{% if utilisateur != null %}
	<aside class=''>

		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>
    <h1>Marque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ marque.id }}</td>
            </tr>
            <tr>
                <th>NomMarque</th>
                <td>{{ marque.NomMarque }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('marque_index') }}">back to list</a>

    <a href="{{ path('marque_edit', {'id': marque.id}) }}">edit</a>

    {{ include('marque/_delete_form.html.twig') }}

    </main>
{% else %}
	{% endif %}
{% endblock %}
