{% extends 'base.html.twig' %}

{% block title %}Clients index{% endblock %}

{% block body %}
{% if utilisateur != null %}
   <aside class=''>
		{% include "Templates_parts/aside.html.twig" %}
	</aside>
	<main>
		<nav id="menu_admin" class="mt-4">
			{% include "Templates_parts/_nav.html.twig" %}
		</nav>
		<hr>
			<a class="btn btn-secondary float-right mt-3 mr-4 mb-4" href="{{ path('clients_new') }}">
				<i class="fa fa-plus"></i>
				Ajouter un client</a>
			<h3 id="titre_client" style="width:30vw" class="mt-2 ml-4 d-flex justify-content-center text-light">Liste des clients
			</h3>
		<section id="liste_des_Clients"  class=" container-fluid">

			<table id="liste_des_client_tab" class="table table-striped">
        <thead>
            <tr>
            <th scope="row" class="col-1">Id</th>
                                <th scope="col" class="col-2">Nom Client</th>
                                <th scope="col" class="col-2">Email</th>
                                <th scope="col" class="col-3">Adresse</th>
								<th scope="col" class="col-2">Téléphone</th>
								<th scope="col" class="col-2">Action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td class="col-1">{{ client.id }}</td>
                <td class="col-2">{{ client.NomClient }}</td>
                <td class="col-2">{{ client.email }}</td>
                <td class="col-3">{{ client.AdresseLieu }}</td>
                <td class="col-2">{{ client.NumClient }}</td>
                <td class="col-2">
                    <a href="{{ path('clients_show', {'id': client.id}) }}" class='text-danger'><i class="fa fa-eye"></i></a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </section>
	</main>
{% else %}
    {% endif %}
{% endblock %}
